.hero {
  width: $per;
  height: $per;
  display: $f;
  justify-content: $c;
  align-items: $c;
  color: #FFF;
  .hero_child {
    width: $per-helf;
    display: $f;
    justify-content: $sv;
    align-items: $c;
    flex-wrap: wrap;
    position:$r;
    .each_post {
      width: 360px !important;
      max-width: 360px !important;
      text-align: left;
      height: $per;
     .post_Title{
      display: inline-block;
     }
      img {
        object-fit: $cv;
      }
    }
  }
}
