html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}
/* custom cursor */
.curs {
  color: red;
  padding: 10px;
  width: 10px;
  height: 20px;
  position: fixed;
  border-radius: 100%;
  background: #000;
  border: 2px double red;
  mix-blend-mode: difference;
}
