$f: flex;
$c: center;
$cl: column;
$per: 100%;
$sp: space-around;
$sv: space-evenly;
$sb: space-between;
$per-helf: 80%;
$cv: cover;
$r: relative;
$rgb: rgb(0, 0, 0);
@import "./navBar.module";
@import "./mainhome.module";